Services/Inquiry/Tameenk.Services.InquiryGateway/Connected Services/NajmBcareService/NCDService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NCDEligibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
        <xs:element minOccurs="0" name="vehicleIdentifier" type="xs:int" />
        <xs:element minOccurs="0" name="vehicleId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NCDEligibilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NCDEligibilityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>