Integration/Providers/Tameenk.Integration.Providers.ArabianShield.backup/Connected Services/ArabianShieldService/BcareTameenk25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Quote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuotationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Policy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Policy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PolicyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>