Integration/Providers/Tameenk.Integration.Providers.Wafa.backup/Connected Services/WafaService/Integration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Integration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegration_GenerateMotorQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMotorQuotation" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GenerateMotorQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMotorQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_ConvertMotorQuoteToPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertMotorQuoteToPolicy" />
  </wsdl:message>
  <wsdl:message name="IIntegration_ConvertMotorQuoteToPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertMotorQuoteToPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GenerateMotorPolicySchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMotorPolicySchedule" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GenerateMotorPolicySchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMotorPolicyScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetNajmStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNajmStatus" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetNajmStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNajmStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegration">
    <wsdl:operation name="GenerateMotorQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GenerateMotorQuotation" message="tns:IIntegration_GenerateMotorQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GenerateMotorQuotationResponse" message="tns:IIntegration_GenerateMotorQuotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertMotorQuoteToPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/ConvertMotorQuoteToPolicy" message="tns:IIntegration_ConvertMotorQuoteToPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/ConvertMotorQuoteToPolicyResponse" message="tns:IIntegration_ConvertMotorQuoteToPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateMotorPolicySchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GenerateMotorPolicySchedule" message="tns:IIntegration_GenerateMotorPolicySchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GenerateMotorPolicyScheduleResponse" message="tns:IIntegration_GenerateMotorPolicySchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNajmStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetNajmStatus" message="tns:IIntegration_GetNajmStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetNajmStatusResponse" message="tns:IIntegration_GetNajmStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegration" type="tns:IIntegration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateMotorQuotation">
      <soap:operation soapAction="http://tempuri.org/IIntegration/GenerateMotorQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMotorQuoteToPolicy">
      <soap:operation soapAction="http://tempuri.org/IIntegration/ConvertMotorQuoteToPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateMotorPolicySchedule">
      <soap:operation soapAction="http://tempuri.org/IIntegration/GenerateMotorPolicySchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNajmStatus">
      <soap:operation soapAction="http://tempuri.org/IIntegration/GetNajmStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Integration">
    <wsdl:port name="BasicHttpBinding_IIntegration" binding="tns:BasicHttpBinding_IIntegration">
      <soap:address location="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>