Integration/Providers/Tameenk.Integration.Providers.Wafa.backup/Connected Services/WafaService/Integration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GenerateMotorQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="motorQuotationRequestInput" nillable="true" type="q1:MotorQuotationRequestInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMotorQuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GenerateMotorQuotationResult" nillable="true" type="q2:MotorQuotationRequestOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertMotorQuoteToPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="motorPolicyConversionRequestInput" nillable="true" type="q3:MotorPolicyConversionRequestInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertMotorQuoteToPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConvertMotorQuoteToPolicyResult" nillable="true" type="q4:MotorPolicyConversionRequestOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMotorPolicySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MotorPolicyScheduleRequestInput" nillable="true" type="q5:MotorPolicyScheduleRequestInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMotorPolicyScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GenerateMotorPolicyScheduleResult" nillable="true" type="q6:MotorPolicyScheduleRequestOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNajmStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="najmRequest" nillable="true" type="q7:NajmRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNajmStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetNajmStatusResult" nillable="true" type="q8:NajmResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>