Integration/Providers/Tameenk.Integration.Providers.ArabianShield/Connected Services/ArabianShieldService/BcareTameenk1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BcareTameenk" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IBcareTameenk_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://tameenitp.der3.com:588/BcareTameenk.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://tameenitp.der3.com:588/BcareTameenk.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBcareTameenk_Quotation_InputMessage">
    <wsdl:part name="parameters" element="tns:Quotation" />
  </wsdl:message>
  <wsdl:message name="IBcareTameenk_Quotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IBcareTameenk_Policy_InputMessage">
    <wsdl:part name="parameters" element="tns:Policy" />
  </wsdl:message>
  <wsdl:message name="IBcareTameenk_Policy_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IBcareTameenk">
    <wsdl:operation name="Quotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBcareTameenk/Quotation" message="tns:IBcareTameenk_Quotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBcareTameenk/QuotationResponse" message="tns:IBcareTameenk_Quotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Policy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBcareTameenk/Policy" message="tns:IBcareTameenk_Policy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBcareTameenk/PolicyResponse" message="tns:IBcareTameenk_Policy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBcareTameenk" type="tns:IBcareTameenk">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Quotation">
      <soap:operation soapAction="http://tempuri.org/IBcareTameenk/Quotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Policy">
      <soap:operation soapAction="http://tempuri.org/IBcareTameenk/Policy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IBcareTameenk" type="tns:IBcareTameenk">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBcareTameenk_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Quotation">
      <soap:operation soapAction="http://tempuri.org/IBcareTameenk/Quotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Policy">
      <soap:operation soapAction="http://tempuri.org/IBcareTameenk/Policy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BcareTameenk">
    <wsdl:port name="BasicHttpBinding_IBcareTameenk" binding="tns:BasicHttpBinding_IBcareTameenk">
      <soap:address location="http://tameenitp.der3.com:589/BcareTameenk.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IBcareTameenk" binding="tns:BasicHttpsBinding_IBcareTameenk">
      <soap:address location="https://tameenitp.der3.com:588/BcareTameenk.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>